body {
   display: flex;
   justify-content: center;
 }
 img {

   width:200px;
   height: 200px;
   border-radius: 50% ;
 }
 .person1 {
background-color: gray;
color: white;
width: 200px;
margin: 20px;

 }

 
 