* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f1ff;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  padding: 2rem;
}

img {
  max-width: 100%;
}

.participants-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #000500;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  margin-bottom: 2rem;
  border-radius: 15px;
  color: #dddddb;
  font-size: 17px;
}

.person-avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  html,
  body,
  #root,
  .app-container,
  .participants-container {
    height: 100%;
  }

  .participants-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .person-container {
    width: 300px;
    height: 300px;
  }

  .title {
    color: #000500;
    font-size: 4rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .person-container {
    width: 350px;
    height: 350px;
  }
}
